.header__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 3rem 3rem 0px;
}

.header__logoWrapper {
	position: fixed;
	display: grid;
	place-items: center;
	left: 0;
	width: clamp(80px, 10vw, 100px);
	z-index: 2;
}

.header__logoContainer {
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	background-color: var(--color-white);
	box-shadow: rgba(26, 26, 44, 0.05) 0px 0.25rem 0.5rem;
	border-radius: 50%;
	cursor: pointer;
}

.input__container {
	width: 40%;
	max-width: 221px;
	background-color: var(--color-white);
	box-shadow: rgba(26, 26, 44, 0.05) 0px 0.25rem 0.5rem;
	font-size: 0.85rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	position: relative;
	padding: 0.33rem 0.15rem 0.33rem 0.66rem;
	border-radius: 0.5rem;
}

.input__container svg {
	width: 25px;
	fill: var(--color-darkGrey);
}

.input__container input {
	width: 100%;
	outline: none;
	border: none;
	padding-left: 10px;
	font-family: var(--font-sans);
}

.header__dropdownContainer {
	margin-right: 2rem;
}

.btn__back {
	cursor: pointer;
	outline: none;
	border: none;
	z-index: 10;
	background-color: var(--color-white);
	border-radius: 50%;
	box-shadow: rgba(26, 26, 44, 0.05) 0px 0.25rem 0.5rem;
	font-size: 0.85em;
	margin-right: auto;
	font-family: var(--font-sans);
}

.desktop__logo {
	display: grid;
	place-items: center;
}

@media (max-width: 550px) {
	.header__container {
		padding: 1.5rem;
	}
	.desktop__logo {
		display: none;
	}
	.input__container {
		margin-right: 0;
		width: 50%;
		max-width: 220px;
	}
	.input__container input {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.header__dropdownContainer {
		display: none;
	}
	.btn__back {
		margin-right: 1rem;
	}
}
