.nav {
	width: clamp(80px, 10vw, 100px);
	background-color: var(--color-white);
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 5rem;
	box-shadow: 0 0 1rem rgb(26 26 44 / 5%);
	justify-content: space-between;
	padding: 3rem 0;
}

.logoContainer {
	width: 2rem;
	position: relative;
}

.navLinks,
.profileIconContainer {
	width: 2rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navLinks li {
	margin-inline: auto;
	margin-bottom: 1.75rem;
}

.navLinks {
	width: 36px;
}

.navLinks svg {
	width: 30px;
	transition: transform 0.15s ease;
}

.navLink {
	color: var(--color-dark);
}

.navLink__active svg {
	fill: var(--color-dark);
}

.navLink svg {
	fill: var(--color-white);
	stroke: var(--color-dark);
}

.navLinks svg:hover,
.profileIconContainer svg:hover {
	transform: scale(1.15);
}

.profileIconContainer svg {
	transition: transform 0.15s ease;
}

@media (max-width: 550px) {
	.nav {
		display: none;
	}
}
