.footer__container {
  background-color: var(--color-mediumGrey);
  margin-left: clamp(80px, 10vw, 100px);
  padding-inline: 3rem;
}

.footer__inner {
  max-width: 1248px;
  margin-inline: auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 3rem;
}

.footer__contentLinks {
  list-style: none;
  flex: 1;
}

.footer__contentLinks li:first-child {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-dark);
}

.footer__contentLinks a {
  text-decoration: none;
  color: var(--color-dark);
  opacity: 0.6;
  font-size: 0.85rem;
  transition: all 0.2s;
  white-space: nowrap;
  font-size: 0.85rem;
}

.footer__contentLinks a:hover {
  opacity: 1;
}

.footer__bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 2rem;
  border-top: 1px solid rgba(26, 26, 44, 0.05);
}

.footer__logoContainer {
  position: relative;
  height: 1.5rem;
  width: 80px;
  margin-right: 1rem;
}

.footer__copyright {
  font-size: 14px;
  white-space: nowrap;
  opacity: 0.75;
}

.footer__copyright a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-primary);
}

.footer__dropdownContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 728px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright {
    margin-top: 0.5rem;
  }
  .footer__dropdownContainer {
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .footer__container {
    margin-left: 0;
    padding-inline: 1.5rem;
  }
  .footer__content {
    padding-block: 2rem;
  }
}
