.cart__container {
	margin: 3rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	min-height: calc(100vh - 216px);
}

.cart__container h1 {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.cart__contentContainer {
	display: flex;
	gap: 2rem;
}

.cart__leftContainer {
	flex: 0.55;
}

.cart__productsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cart__leftContainerEmpty {
	padding: 2rem;
}

.cart__emptyImageContainer {
	position: relative;
	height: 250px;
}

.cart__rightContainer {
	flex: 0.45;
	background: var(--color-white);
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.5rem rgb(26 26 44 / 5%);
	padding: 2rem;
	align-self: flex-start;
}

.cart__rightContainer h2 {
	font-size: calc(1.275rem + 0.3vw);
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.cart__deliveryMessage {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background: rgba(0, 200, 0, 0.25);
	color: #2e8b57;
	padding: 0.25rem 0.5rem;
	margin: 1rem 0;
	border-radius: 0.25rem;
	font-size: clamp(0.85rem, 1.5vw, 1rem);
}

.cart__total {
	font-size: clamp(1.1rem, 2vw, 1.6rem);
	font-weight: 900;
	margin-top: 1.125rem;
	margin-bottom: 0.25rem;
}

.cart__details p {
	margin-bottom: 0.5rem;
}

@media (max-width: 728px) {
	.cart__contentContainer {
		flex-direction: column;
		gap: 1rem;
	}
	.cart__leftContainer {
		padding-block: 0;
	}
	.cart__rightContainer {
		margin-left: 0;
	}
}

@media (max-width: 550px) {
	.cart__container {
		margin-inline: 1.5rem;
		margin-top: 1rem;
	}
}
