.carousel__image {
  margin: 3rem;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(26, 26, 44, 0.2);
}

.products__container {
  margin-inline: 3rem;
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
  padding-bottom: 6rem;
}

@media (max-width: 768px) {
  .products__container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

@media (max-width: 550px) {
  .carousel__image {
    margin: 0;
    border-radius: 0;
  }
  .products__container {
    margin-inline: 1.5rem;
    margin-top: 1rem;
  }
}
